<!DOCTYPE html>
<html lang="en" ng-app='r1'>
<head>
	<meta charset="UTF-8">
	<title>.:Wallet:.</title>
	<!--STYLES-->
	<link rel="stylesheet" href="/styles/css.css">
	<link rel="stylesheet" href="/styles/importer.css">
	<link rel="stylesheet" href="/styles/ngDialog-theme-default.css">
	<link rel="stylesheet" href="/styles/ngDialog.min.css">
	<!--STYLES END-->
</head>
<body>
	<div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Prueba Wallet</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav"></ul>
		  			<ul class="nav navbar-nav navbar-right">
            <li>
							<img src="/images/Shareable-red-logo.png" >
						</li>
          </ul>
        </div>
      </div>
    </div>
    <div ng-view></div>
	<!--SCRIPTS-->
	<script src="/js/dependencies/sails.io.js"></script>
	<script src="/js/dependencies/angular.js"></script>
	<script src="/js/dependencies/public/angular-animate.min.js"></script>
	<script src="/js/dependencies/public/angular-cookies.min.js"></script>
	<script src="/js/dependencies/public/angular-routes.js"></script>
	<script src="/js/dependencies/public/angular-sanitize.min.js"></script>
	<script src="/js/dependencies/public/controllers.js"></script>
	<script src="/js/dependencies/public/fontawesome.js"></script>
	<script src="/js/dependencies/public/ngDialog.min.js"></script>
	<script src="/js/dependencies/public/ui-bootstrap.min.js"></script>
	<!--SCRIPTS END-->
</body>
</html>
